<ion-header>
  <ion-toolbar>
    <ion-title>Registrar ventas</ion-title>
  </ion-toolbar>
</ion-header>
<ion-list>
  <ion-item>
    <ion-label>Fecha</ion-label>
    <ion-input type="text" required [(ngModel)]="txt_fecha"></ion-input>
  </ion-item>
   <ion-item>
     <ion-label>IdCliente:</ion-label>
    <ion-input type="text" required [(ngModel)]="txt_idcliente"></ion-input>
  </ion-item>
  <ion-item *ngFor="let usu of usuario">
    <ion-label disable="true">Usuario:{{usu.usuario}} id: {{usu.idadm}}</ion-label>
    
    <ion-input type="text" required [(ngModel)]="txt_idusuario"></ion-input>
  </ion-item>
  <ion-item>
  <div class="row">
    <div class="col-2">
      <ion-label>Productos</ion-label>
        <ion-select required [(ngModel)]="txt_producto"placeholder="Selecciona Uno"> 
          <ion-select-option value="Botellones">Botellones</ion-select-option>
          <ion-select-option value="Barriles">Barriles</ion-select-option>
        </ion-select>
    </div>
    <div class="col-2">
      <label >Precio:</label>
      <ion-input placeholder="0.95"disabled="true" required [(ngModel)]="txt_precio"></ion-input>
    </div>
    <div class="col-2">
      <label>Cantidad:</label>
      <ion-input type="text" required [(ngModel)]="txt_cantidad"></ion-input>
    </div>
    <div class="col-2">
      <label >Total:</label>
      <ion-input type="text" required [(ngModel)]="txt_total"></ion-input>
    </div>
  </div>
</ion-item>
</ion-list>
  <ion-item>
    <ion-button (click)="guardar()" >guardar</ion-button>
  </ion-item>