<ion-header>
  <ion-toolbar>
    <ion-title>Ventas</ion-title>
  </ion-toolbar>
  
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
    
      Fecha        idCliente IdUsuario Total
    
  </ion-item>
    <ion-item-sliding *ngFor="let usuario of ventas">
      <ion-item class="item-text-wrap" >
          
          <ion-label>
            {{usuario.fecha }}  {{ usuario.idcliente }}
              {{ usuario.idusuario }}  {{usuario.total}}
              
          </ion-label>
       
      </ion-item>
  
      <ion-item-options side="end">
        <ion-item-option color="primary"(click)="editar(usuario.idventa)">
          <ion-icon name="pencil"></ion-icon>
        </ion-item-option>
        <ion-item-option color="danger" (click)="eliminar()">
          <ion-icon slot="icon-only" name="trash"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <ion-item>
    <ion-button color="dark"(click)="registrar()">Registrar ventas</ion-button>
  </ion-item> 
  <ion-item>
    
    <ion-button color="primary"(click)="volver()">Regresar menu</ion-button>
  </ion-item>
</ion-content>