<ion-header>
  <ion-toolbar>
    <ion-title>EMPLEADOS MENU</ion-title>
    <ion-button slot="end" (click)="logout()">
      <ion-icon slot="icon-only" name="log-out"></ion-icon>
    </ion-button>
  </ion-toolbar>
  
    
</ion-header>

<ion-content>
  <ion-list-header color="primary">
    <ion-label>Seleccinar una Opción</ion-label>
  </ion-list-header>
  <ion-item >
    <a  routerLink="/clientes" routerLinkActive="active"> <ion-icon slot="start" name="accessibility-outline"></ion-icon>Clientes</a>
  </ion-item>
  <ion-item >
    <a  routerLink="/producto" routerLinkActive="active"> <ion-icon slot="start" name="water-outline"></ion-icon>Productos</a>
  </ion-item>
  <ion-item >
    <a  routerLink="/ventas" routerLinkActive="active"> <ion-icon slot="start" name="logo-usd"></ion-icon>Ventas</a>
  </ion-item>
  <ion-item >
    <a  routerLink="/ventas" routerLinkActive="active"> <ion-icon slot="start" name="logo-usd"></ion-icon>Ventas</a>
  </ion-item>
</ion-content>