<ion-header>
  <ion-toolbar>
    <ion-title>REPORTES VENTAS</ion-title>
    
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
  <ion-item>
    <ion-label>Seleccione fecha del calendario</ion-label>
  </ion-item>
  <ion-item>
    <ion-input
          value="{{ date | date:'yyyy/MM/dd'}}"
          id="date"
          class="ion-text-end"
        ></ion-input>
        <ion-popover trigger="date" size="cover">
          <ng-template>
            <ion-datetime
            displayFormat="YYYY-MM-DD"
              min="2000-03-01"
              max="2030-12-01"
              presentation="date"
              [(ngModel)]="fecha"
              locale="es-SI"
            ></ion-datetime>
          </ng-template>
        </ion-popover>
    
  </ion-item>
    
    <ion-item>
      <ion-button (click)="listardiario()" >Buscar</ion-button>
    </ion-item>
  </ion-card>
  <ion-list-header>
    <ion-label>id</ion-label>
    <ion-label>idCliente</ion-label>
    <ion-label>idUsuario</ion-label>
    <ion-label>Total</ion-label>
  </ion-list-header>
    <ion-card id="card" *ngFor="let usu of usuarios">
    <ion-item > 
      <ion-label>{{usu.idventa}} </ion-label>
      <ion-label>{{usu.idcliente}} </ion-label>
      <ion-label>{{usu.idusuario}} </ion-label>
      <ion-label>{{usu.total}} </ion-label>
    </ion-item>
  </ion-card>
  
</ion-content>