<ion-header>
  <ion-toolbar>
    <ion-title>USUARIOS</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item-sliding *ngFor="let usuario of usuarios">
      <ion-item class="item-text-wrap" >
     
          <ion-label>{{usuario.cedula }} {{usuario.nombre }}
            {{usuario.apellido }}{{usuario.email }}
            {{usuario.telefono }}{{usuario.direccion }}
          </ion-label>
       
      </ion-item>
  
      <ion-item-options side="end">
        <ion-item-option (click)="editar(contacto.codigo)">Modificar</ion-item-option>
        <ion-item-option color="danger" (click)="eliminar(contacto.codigo)">Eliminar</ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <ion-item>
    <ion-button (click)="registra()">Registrar Usuario</ion-button>
  </ion-item> 
</ion-content>