<ion-header>
  <ion-toolbar>
    <ion-title>registrar ventas</ion-title>
    <ion-button slot="start">
      <ion-back-button defaultHref="/ventas"> </ion-back-button>
    </ion-button>
  </ion-toolbar>
  
</ion-header>

<ion-content>
  <ion-grid  >
    
    <ion-row>
      <ion-col>
        <label >fecha:</label>
        <ion-input value="" required [(ngModel)]="fecha"display-format="YYYY-MM-DD"></ion-input>
      </ion-col>
      <ion-col>
        <label >Clientes</label>
        <ion-input type="text" required [(ngModel)]="txt_cliente"></ion-input>
      </ion-col>
      <ion-col>
        <label >Usuarios</label>
        <ion-input type="text" required [(ngModel)]="txt_usuario"></ion-input>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-label>productos</ion-label>
        <ion-select placeholder="Selecciona producto"required [(ngModel)]="txt_producto">
          <ion-select-option value="Botellones">Botellones</ion-select-option>
          <ion-select-option value="Barriles">Barriles</ion-select-option>
        </ion-select>
      </ion-col>
      <ion-col >
        <label >precio:</label>
        <ion-input placeholder="0.90"disabled="true"type="text" [(ngModel)]="txt_precio"></ion-input>
      </ion-col>
      <ion-col >
        <label >cantidad:</label>
        <ion-input type="text" [(ngModel)]="txt_cantidad"></ion-input>
      </ion-col>
      <ion-col>
        <ion-label>Total</ion-label>
       <ion-input type="text" required [(ngModel)]="txt_total"></ion-input>
      </ion-col>
    </ion-row>
    <ion-row>
     
        <ion-button color="primary" expand="full" (click)="agregar()">agregar</ion-button>
        <ion-button color="primary" expand="full" (click)="guardar()">guardar</ion-button>
    </ion-row>
  </ion-grid>
  <div>
    <ion-grid border="1">
      <ion-row>
        <ion-col>Producto</ion-col>
        <ion-col>Cantidad</ion-col>
        <ion-col>Precio</ion-col>
        <ion-col>Total</ion-col>
      </ion-row>
      <ion-row *ngFor="let obj of list ">
        <ion-col>{{obj.txt_producto}}</ion-col>
        <ion-col>{{obj.txt_cantidad}}</ion-col>
        <ion-col>{{obj.txt_precio}}</ion-col>
        <ion-col>{{obj.txt_total}}</ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>

