<ion-header [translucent]="true">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" routerLink="/">CASCADA</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/loggin" routerLinkActive="active"><ion-icon slot="icon-only" name="person"></ion-icon> Admin</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" routerLink="/usu-loggin" routerLinkActive="active"><ion-icon slot="icon-only" name="person"></ion-icon> Usuario</a>
        </li>
        
      </ul>
    </div>
  </nav>
</ion-header>
<ion-content [fullscreen]="true">
  
  <ion-grid >
    <ion-row>
      <ion-col class="col ">
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col >
        <ion-img style="width: 600px; height: 400px;" src="https://i.postimg.cc/BZRXMyGW/Whats-App-Image-2022-03-04-at-10-44-26-PM.jpg' border='0' alt='Whats-App-Image-2022-03-04-at-10-44-26-PM">
        </ion-img>
      </ion-col>
      <ion-col >
        <ion-row>
          <div class="ion-text-justify">
          <h1>Mision</h1>
        <p >
          Somos una empresa de purificación del agua buscando el 
          beneficio del ser humano, distribuyendo agua con los más altos estándares de calidad en el mercado, satisfaciendo la necesidad de las personas.
        </p>
        <p>
          Somos distribuidores principales en la Provincia de Pastaza.
          Procesadora y distriubuidora de agua purificada en:
          Tratada con Osmosis Inversa, Sistema U.V. Doble Microfiltración
        </p>
        <p>* Botellones
          * Barriles</p>
        </div>
        </ion-row>
        <ion-row>
          <div class="ion-text-justify">
          <h1>Vision</h1>
          <p>
          Ser la empresa líder en la venta de agua purificada, 
          generando absoluta confianza y que sea reconocida por todos las personas como una organización que se preocupa cada día por ofrecer siempre un magnífico servicio.
          </p>
          </div>
        </ion-row>
      </ion-col>
    </ion-row>
   
    <ion-footer class="ion-no-border">
    <ion-toolbar>
    <ion-title>
      Direccion: KM 22 VIA PUYO-BAÑOS, 
    </ion-title>
    <ion-title>
      pasando 
      el sector el Kilo.
    </ion-title>
    <ion-item>
      Contactos:
      (03) 288-9382
      0983627177
    </ion-item>
    <ion-item>
      email:geoconda_gata@hotmail.com
      https://www.agualacascada.webs.com
    </ion-item>
    
    </ion-toolbar>
    </ion-footer>
  </ion-grid>  
</ion-content>





