<ion-header>
  <ion-toolbar color="primary">
    <ion-title>ADMINISTRADOR MENU</ion-title>
    <ion-button slot="end" (click)="logout()">
      <ion-icon slot="icon-only" name="log-out"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list-header color="primary">
    <ion-label>Seleccinar una Opción</ion-label>
  </ion-list-header>
  <ion-item >
    <a class="nav-link" routerLink="/usuarios" routerLinkActive="active"> <ion-icon slot="start" name="accessibility-outline"></ion-icon> Usuarios</a>
  </ion-item>
  <ion-item >
    <a class="nav-link" routerLink="/clientes" routerLinkActive="active"> <ion-icon slot="start" name="accessibility-outline"></ion-icon>Clientes</a>
  </ion-item>
  <ion-item >
    <a class="nav-link" routerLink="/producto" routerLinkActive="active"> <ion-icon slot="start" name="water-outline"></ion-icon>Productos</a>
  </ion-item>
  <ion-item >
    <a class="nav-link" routerLink="/ventas" routerLinkActive="active"> <ion-icon slot="start" name="logo-usd"></ion-icon>Ventas</a>
  </ion-item>
  <ion-item >
    <a class="nav-link" routerLink="/reportes" routerLinkActive="active"> <ion-icon slot="start" name="document-text-outline"></ion-icon>Reportes</a>
  </ion-item>
</ion-content>