<ion-header>
  <ion-toolbar>
    <ion-title>MENU DE ADMINISTRADOR</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list-header color="primary">
    <ion-label>Seleccinar una Opción</ion-label>
  </ion-list-header>
  <ion-item detail routerLink='/usuarios'>
    <ion-icon slot="start" name="accessibility-outline"></ion-icon>
    <ion-label>Usuarios</ion-label>
  </ion-item>
  <ion-item detail routerLink='/clientes'>
    <ion-icon slot="start" name="accessibility-outline"></ion-icon>
    <ion-label>Clientes</ion-label>
  </ion-item>
  <ion-item detail routerLink='/producto'>
    <ion-icon slot="start" name="water-outline"></ion-icon>
    <ion-label>Productos</ion-label>
  </ion-item>
  <ion-item detail routerLink='/ventas'>
    <ion-icon slot="start" name="logo-usd"></ion-icon>
    <ion-label>Registrar Venta</ion-label>
  </ion-item>
  <ion-item detail>
    <ion-icon slot="start" name="document-text-outline"></ion-icon>
    <ion-label>Reportes</ion-label>
  </ion-item>
</ion-content>
